.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  
    transition: visibility 250ms var(--transition-timing-function),
      opacity 250ms var(--transition-timing-function);
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--accent-background-color-thr);
  
    transform: translate(-50%, -50%);
  }