:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color-logo: #2196f3;
    --accent-color-first: black;
    --accent-color-sec: #212121;
    --accent-color-thr: #757575;
    --accent-color-four: #ffffff;
    --accent-color-fth: #afb1b8;
    --accent-background-color: #2196f3;
    --accent-background-color-sec: #f5f4fa;
    --accent-background-color-thr: #ffffff;
    --accent-background-color-four: #44454e;
    --accent-color-fth: rgba(255, 255, 255, 0.6);
    --footer-background: #2f303a;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }